{# /templates/error_404.html.twig #}
{% extends 'layout_base.html.twig' %}

{% block title %}Error 404{% endblock %}

{% block contenido %}
    <h2>Error 404</h2>
    <p>La página solicitada no existe</p>
{% endblock %}