{# /templates/error_404.html.twig #}
{% extends 'layout_base.html.twig' %}

{% block title %}Error 404{% endblock %}

{% block contenido %}
    <div class="alert alert-danger mt-4">
        <h2>Error 404</h2>
        <p>La página solicitada no existe.</p>
        <p>Para no perderte empieza desde la <a href="index.php">página de inicio</a></p>
    </div>
{% endblock %}