{# /templates/inicio.html.twig #}
{% extends 'layout_base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block contenido %}
    <ul>
        {% for entrada in entradas %}
            {% set host = entrada.link|split('/')[2] %}
            <li><span class="small text-muted">{{ entrada.pubDate|date('d-m-Y') }} · {{ host }}</span>
                <br><a href="{{ entrada.link }}">{{ entrada.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
