{# /templates/inicio.html.twig #}
{% extends 'layout_base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block contenido %}
    <h2>Gestor de feeds</h2>
    <p>Aquí pronto habrá muchos artículos para leer</p>
{% endblock %}
