{# /templates/layout_base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Inicio{% endblock %} - Mi Gestor de Feeds</title>
    <link rel='stylesheet' href="css/bootstrap.css">
</head>
<body>
<div id="contenido">
    {% block contenido %}{% endblock %}
</div>
</body>
</html>
